#wrap{
    max-width: 1920px;
    /* background-color: lightblue; */
    margin: 0 auto;
    box-sizing: border-box;
    overflow: hidden;
}

header, section, footer{
    width: 100%;
    position: relative;
    box-sizing: border-box;
    color: #1d1d1d;
}